*{
	padding: 0;
    margin: 0;
    color: rgb(176, 161, 161);
    font-family: 'josefin sans', sans-self;
    box-sizing: border-box;
    
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
main{
  background-image: url(bg2.jpg);
  background-color:rgba(0, 0, 0, 0.442) ;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height:80vh;
  background-attachment: fixed;
 
}
.hero{
	height: 100vh;
    width: 100%;
    background-image: url(cc.jpg);

    background-color:rgb(168, 152, 152) ;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 4%;
  padding-right: 4%;


}
nav ul{
    display:flex;
    list-style :none;
    gap: 10px;
   

}

nav ul li a{
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  color:grey;
  font-family: cursive;
  font-size: 25px;
}

nav > a{
   text-decoration: none;
   font-family: none;
   color:white;
   padding: 10px 30px;
   background-color:rgb(222, 28, 28);
   border-radius: 10px;
   transition: 500ms; 
}

nav > a:hover{
   background-color:rgb(82, 72, 72);
   font-family: 'Roboto', sans-serif;
    
}

nav li a:hover{
  text-decoration: underline;
  color: rgb(255, 0, 0);
  
}
h1{
font-size: 30px;
}
h2{
  font-size: 35px;
  font-family: cursive;
}
#name h2{
  font-size: 5rem;
  font-family: cursive;
  
}


h3{
  font-size: 18px;
  margin-bottom: 50px;
  color:grey;
}


#name{
  padding-left: 50px;
  height:80%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start ;
  color: rgb(249, 246, 246);
  font-family: cursive !important;

}
.newslatter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px rgb(245, 9, 9) ;
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child{
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px ;
  background-color:rgb(249, 6, 6) ;
  color:white;
  box-shadow: 0px 0px 5px #000, 0px opx 15px #858585;
  top: 6px;
  right:6px;
}
.natiq{
color: rgb(255, 6, 6);
font-family:cursive ;
}

.details{
 
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100%; */
}
.details > div{
  width:300px;
 text-align: center;
  height: 300px;
  border-radius:20px;
  background-color: rgba(255, 255, 255, 0.206);
  backdrop-filter: blur(1px);
  color:#fff !important;
}
 
#about h3,
#skills h3,
#work h3{
  /* border-bottom: 1px solid #333; */
  padding: 15px;
  text-align: center;

}
.details ul,
.details p,
.details li{
color:#fff;
letter-spacing: 1px;
font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}


.icon{
  width: 40px;
}

#work div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  
}
#work a img{
  border-radius: 100px;
  transition:1s;
}

#work a img:hover {
  box-shadow: #fff 0px 5px 15px;
  transform : scale3d(1.2,1.2,1.2);
}
#number{
  padding-top: 20px;
  color: rgb(255, 60, 0) !important;
  transition:500s;
  font-family:monospace;
  letter-spacing:1px;
  font-size:18px;

}
#number:hover{
  color: rgb(52, 170, 23);
}

.location{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  color:#fff;
}
.location span{
  font-family: monospace !important;

}
.location img{
  width:20px !important;
}



